@import url('styles.js');

@media(max-width: 18px) {
	.back {
		width: 18px;
		height: 18px;
	}
}
body {
	margin: 0;
	padding: 25px;
}
#link > a[target] {
	background-color: #212121;
	height: 256px;
	width: auto;
}
.nested, .item {
	color: #333;
}
a {
	color: red;
}
a:hover {
	text-align: center;
	opacity: 0;
}
a::after {
	content: '';
	position: absolute;
	top: 0;
}